body{
  background: #fff;
  font-family: 'Arial', sans-serif;
}

.screen {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 30px auto 60px;
  background-color: #509fd4;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition: transform .5s ease-in;
}

#hall {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: transform .5s ease-in;

  %cell {
    box-sizing: border-box;
    float: left;
    padding: 2px;
  }

  %hover {
    background-color: #21678e;
  }
  
  %seat {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #222;
    padding: 3px;
    cursor: pointer;
    color: #fff;
  }
  
  .cell {
    @extend %cell;
    // @extend %cel-regular;
    height: 50px;
    background-color: #fff;

    .low {
      @extend %seat;
      background-color: #0dd46c;
    }

    .medium {
      @extend %seat;
      background-color: #509fd4;
    }

    .medium:hover,
    .low:hover {
      @extend %hover;
    }

    .not-active {
      @extend %seat;
      background-color: #ddd;
      cursor: initial;
    }

    .row-cell {
      color: #222;
      font-size: 12px;
      margin: 3px;
    }

  }

  .cell-high {
    @extend %cell;
    height: 50px;
    background-color: #fff;

    .high {
      @extend %seat;
      background-color: #a853af;
    }

    .high:hover {
      @extend %hover;
    }

    .not-active {
      @extend %seat;
      background-color: #ddd;
      cursor: initial;
    }
  }

  .cell,
  .cell-high {
    
    div.selected {
      @extend %hover; 
    }

    div.sold {
      @extend %hover; 
    }
  } 
}

#hall.slide-left {
  transform: translateX(-200px);
}

.screen.slide-left {
  transform: translateX(-200px);
}

#ticket-box {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -330px;
  width: 330px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  transition: transform .5s ease-in;

  .tickets-cover {
    height: 80%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 5px;
  }

  .ticket {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #21678e;
    border-bottom: 1px solid #21678e;
    border-right: 1px solid #21678e;
    border-top: 1px solid #21678e;
    margin-bottom: 5px;

    p {
      padding: 0;
      margin: 5px 0;
    }
  }

  .remove-ticket {
    position: absolute;
    top: 7px;
    right: 14px;
    color: #ff0015;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
  }

  #order {
    position: absolute;
    bottom: 20px;
    width: 87%;
    border: none;
    border-radius: 5px;
    background-color: #21678e;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }
}

#ticket-box.active {
  transform: translateX(-330px);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  .popup-body {
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    text-align: center;
    transition: opacity .5s ease-in-out;

    button {
      width: 50%;
      max-width: 300px;
      border: none;
      border-radius: 5px;
      background-color: #21678e;
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      padding: 10px 0;
      margin-top: 10px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}